<form method="post" asp-controller="Product" asp-action="Edit">

    <h1>update new product</h1>

    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Id</label>
        <input type="text" name="ID" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">

    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">name</label>
        <input type="text" name="Name" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">price</label>
        <input type="text" name="Price" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
    </div>


    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Available</label>
        <input type="text" name="Available" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Catigory_ID</label>
        <input type="number" name="Catigory_ID" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
    </div>

    <button class="btn btn-outline-success" type="submit">submit</button>


</form>

